body {
  background: #ececec;
  font-family: "Dela Gothic One";
}

.btn,
.btn:active,
.btn:focus,
input,
input:active,
input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.main {
  padding: 20px 0px 40px 0px;
  height: fit-content;
  margin: 20px;
  border-radius: 10px;
  background: #ececec;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  box-shadow: 0px 0px 10px #c1c1c1;
}

.main img {
  width: auto;
  height: auto;
  padding: 10px 60px 10px 60px;
}

#search {
  margin: 5px;
  margin-top: 15px;
  border: 1px dashed #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main p {
  color: red;
  font-weight: bolder;
}

.info h2 {
  font-weight: bolder;
  font-size: 50px;
}

.info h1 {
  font-weight: bolder;
  font-size: 30px;
}

h1 img {
  padding: 0 !important;
}

.info h3 {
  font-size: 17px;
  color: grey;
  margin-bottom: 20px;
}

.info h4 {
  font-size: 20px;
}

.switchBtn {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.switch {
  box-shadow: none !important;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  box-shadow: none !important;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(248, 186, 186);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  top: 0px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  box-shadow: none !important;
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: none !important;
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkmode {
  transition: 0.5s;
  background: rgb(26, 25, 25);
  color: rgb(236, 236, 236);
}
